<h1> Create a FIFA World Cup playoff pool. </h1>
<h2>Invite your friends, co-workers and family.</h2>
<h2>Show off your soccer knowledge by picking all the winners.</h2>
<h2>Bask in the glory for a year.</h2>
<br>
  <p>
	<div>
		<a class="btn btn-primary btn-lg" href="/admins/sign_up" role="button" >Create your own FIFA World Cup playoff pool</a>
	</div>
	</p>

